<div class="wrapper">
    <div class="profile">
        <div class="content">
            {% block content %}

            <h1>Delete Course</h1>
            <p>Are you sure you want to delete the course "{{ course.name }}"?</p>
            <form method="post" action="{% url 'delete_course' slug=course.slug %}">
                {% csrf_token %}
                <input type="submit" class="Btn" value="Delete" />
                <a href="{% url 'course_list' %}" class="Btn cancel">Cancel</a>
            </form>
            {% endblock %}
        </div>
    </div>
</div>
